* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

.done {
    text-decoration: line-through;
}

/* HEADER */
header {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
/* MAIN */
/* add todo */
.add-todo {
    text-align: center;
    margin-bottom: 10px;
}

.add-todo input,
.add-todo button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
}
/* /add todo */


section.todos ul {
    width: 30%;
    margin: 0 auto;
    border: 1px solid black;
    list-style: none;
    background-color: lightgray;
}

ul.todos-list li {
    border-bottom: 1px solid gray;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

.todo-action i {
    color: red;
}